@import "./../../styleConstants.scss";

.navbar-item {
    color: #fff;
    padding: 20px;
    cursor: default;
    flex: 1 1 0px;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    border-radius: 0 0 8px 8px;
    align-items: center;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    &-background__focused {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        border-radius: 0 0 8px 8px;
        background-color: $color-secondary;
        animation: background-grow 0.2s;
        z-index: -1;
    }

    @media (hover: hover) {
        &:hover {
            box-shadow: inset 0 -4px 0 0 $color-secondary;
            animation: bottom-border-grow 0.2s;
        }
    }
}

@keyframes bottom-border-grow {
    0% {
        box-shadow: inset 0 0px 0 0 $color-secondary;
    }
    100% {
        box-shadow: inset 0 -4px 0 0 $color-secondary;
    }
}

@keyframes background-grow {
    0% {
        height: 20%;
    }
    100% {
        height: 100%;
    }
}
