@import "../../styleConstants.scss";

.job {
    @include card;

    &__title {
        color: white;
        font-size: 24px;
        margin: 12px;
    }

    &__dates {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 8px;
        width: 100%;

        &-from,
        &-to {
            background-color: $color-tertiary-shadow;
            padding: 8px;
            text-align: center;
            width: 100%;
            border-radius: 8px;
            text-decoration: none;
        }
    }
    &__tech {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}
