$navbar-height: 60px;
$color-primary: #595a63;
$color-primary-shadow: #4d4e55;
$color-secondary: #7794ad;
$color-tertiary: #4a4b53;
$color-tertiary-shadow: #363741;

$font-size-standard: 16px;

@mixin page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
    padding: 0 8px;
}

@mixin card {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-tertiary;
    color: $color-secondary;
    border-radius: 8px;
    padding: 8px;
    gap: 8px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 5px 5px $color-tertiary;
    border: 1px solid $color-secondary;
}

@mixin card-board {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@mixin label {
    padding: 4px 10px;
    background-color: $color-secondary;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: 0 0 12px $color-tertiary-shadow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;

    &__icon {
        width: 20px;
        aspect-ratio: 1/1;
    }
    &__text {
        color: white;
    }
}

@mixin label-container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
